<div class="nav-container-fixed">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle main menu">
            <i class="fas fa-bars fa-lg"></i>
        </button>
        <a class="navbar-brand mr-auto" href="/">Meet Mindera</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#searchMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle search menu">
            <i class="fas fa-search fa-lg"></i>
        </button>

        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">People & Culture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Locations & Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">

            </ul>
        </div>

        <div class="collapse navbar-collapse" id="searchMenu">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav">
                <form class="my-2 my-lg-0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search this app" aria-label="Search this app">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </ul>
        </div>

    </nav>

    <div class="navbar-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 text-center">
                    <a>
                        <p>Events</p>
                    </a>
                </div>
                <div class="col-6 text-center">
                    <a>
                        <p>Vacancies</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>